.banner {
  display: flex;
  align-items: center;     /* centre verticalement */
  justify-content: center; /* centre horizontalement */
  position: relative;
  width: 90vw;
  height: 200px;
  overflow: hidden;
  border-radius: 25px;
  margin-left: 90px;
  margin-right: 50px;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  z-index: 0;
}

.banner-text {
  color: white;
  font-size: 48px;
  z-index: 1;
  font-weight: 700;
}
