.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 200px;
    display: grid;
    place-items: center;
}

/* Responsive pour mobiles */
@media (max-width: 480px) {
  .footer {
    min-height: 100px;
    padding: 10px;
    font-size: 14px;
  }
}