.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 72px;
}

.navbar__logo img {
  margin-right: auto;
  height: 100px;
  width: auto;
}

.navbar__links {
  display: flex;
  gap: 57px;
  padding-right: 22px;
}

.navbar__links a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.navbar__links a:hover {
  text-decoration: underline;
}

/* Responsive pour mobiles */
@media (max-width: 480px) {
  .navbar {
    padding: 15px 20px;
  }
  
  .navbar__logo img {
    height: 60px;
  }
  
  .navbar__links {
    gap: 15px;
    padding-right: 0;
  }
  
  .navbar__links a {
    font-size: 16px;
  }
}